.project .container {
    padding-bottom: 40px;
  }
  
  
  .project .project-item {
    /* background-color: red; */
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
  }
  .project .project-item.hide {
    display: none;
  }
  .project .project-item.show {
    display: block;
    animation: showItem 0.5s ease;
  }
  
  .project .project-item-inner {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--Border);
    width: 100%;
  }
  
  .project .project-item-inner .project-image {
    position: relative;
    overflow: hidden;
  }
  .project .project-item-inner .project-image:focus img{
    border: 1px solid var(--Border);
  }
  .project .project-item-inner .project-image img {
    width: 100%;
    height: 250px;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .project .project-item-inner:hover .project-image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
 
  
  .project-item-inner .visit-site h1{
    background-color: var(--highlight);
  }
  
  .project .project-item .project-info {
    padding: 30px 15px;
    background-color:var( --bg-light);
    height: 100%;
    
    max-width: 100%;
    /* display: flex;
    flex-direction: column; */
   
  }
  .project .project-item .project-info .project-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--Heading);
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  
  .project .project-item .project-info .project-description {
    font-size: 16px;
    line-height: 25px;
    color: var(--text);
    font-weight: 400;
   
    margin-bottom: 15px;
  }
  .project .project-item .project-info .project-tag {
    font-size: 14px;
    line-height: 25px;
    color: var(--text);
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: capitalize;
    /* background-color:yellow; */
  }
  
  .project .project-item .project-info .project-tag a {
    text-decoration: none;
    font-weight: 600;
    color: var(--Heading);
  }
 
  .project .project-item .project-info .project-links {
    
   margin-bottom:15px;
    display:flex;
    
    justify-content: space-between;
    align-items: flex-end;
  }
  .project .project-item .project-info .project-links .btn{
    padding: 4px 15px;
    background-color: var(--highlight);
    color:#ffffff;
  }

  @media (max-width: 991px) {
   
    .project .project-item {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (max-width: 767px) {

  .project .project-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}
  @media (max-width: 400px) {

    .project .project-item .project-info .project-links {
    
    
      flex-direction: column;
      
     
      align-items: center;
      margin-bottom: 18px;
    }
    .project .project-item .project-info .project-links .btn:first-child {
    
    
     margin-bottom: 15px;
    }

}