

/* About */

.about .about-content {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .about .about-content .about-text {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--Heading);
  }
  .about .about-content .about-text h3 span{
    
    color: var(--highlight);
  }
  
  .about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text);
    margin: 0;
  }

  .about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in{
  background-color:var(--highlight)
}
  
  .about .about-content .personal-info {
    flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
  }
  .about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;
  }
  .about .about-content .personal-info .info-item p {
    /* background-color: red; */
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color:var(--Heading);
    margin: 0;
    border-bottom: 1px solid #e8dfec;
  }
  .about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text);
    margin-left: 4px;
    display: inline-block;
  }
  .about .about-content .personal-info .buttons {
    margin-top: 30px;
  }
  .about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    border-radius: 40px;
    margin-top: 10px;
    color:#ffffff;
    background-color:var(--highlight);
  }
  .about .about-content .skills {
    flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
  }
  

  
  
  .about .about-content .education {
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;
   
    margin-top: 30px;
  }
  
  .about .about-content .experience {
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  }
  
  .about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--Heading);
  }
  
  .about .about-content .timeline-box {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .timeline {
    background-color: var( --bg-light);
    padding: 30px 15px;
    border: 1px solid var(--Border);
    border-radius: 10px;
    width: 100%;
    height:100%;
    position: relative;
  }
  .about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
  }
  .about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
  }
  .about .about-content .timeline .timeline-item::before {
    content: "";
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
  }
  .about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    left: 0;
    border-radius: 50%;
  }
  .about .about-content .timeline .timeline-date {
    font-size: 14px;
    font-weight: 400;
    margin-top: -5px;
    margin-bottom: 12px;
    color: var(--text);
  }
  .about .about-content .timeline .timeline-date .fa {
    margin-right: 5px;
  }
  .about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--Heading);
  }
  .about .about-content .timeline .timeline-text {
    font-size: 16px;
    line-height: 25px;
    color: var(--text);
    margin: 0;
  }
  .about .about-content .timeline .timeline-text ul li{
   margin-bottom: 10px;
  }


  /* Responsive Media Queries */
  @media (max-width: 1199px) {
    .about .about-content .personal-info .info-item p span {
      display: block;
      margin-left: 0;
    }
  }
  @media (max-width: 767px) {
    .about .about-content .personal-info,
    .about .about-content .skills,
    .about .about-content .education,
    .about .about-content .experience
    {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media (max-width: 487px) {
    .about .about-content .personal-info .info-item {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }