.App {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.app-content {
  display: -ms-flexbox;
  display: flex;

 position:relative;
 width:calc(100% - 270px);
 left: 270px;
  flex-direction: column;
  padding: 0 20px;
  height:100%;
  flex: 1;
 
  


}


@media (max-width: 1199px) {
  .app-content{
    left:0;
    width:100%;
  }
}